:root {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    min-height: 100vh;
}

.container{
    min-height: 100vh;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.designlabel{
    display: flex;
    align-items: center;
    gap: 5px;
}

textarea{
    flex: 1; 
    resize: none;
    border-radius: 8px;
}

h1,
h3{
    text-align: center;
    font-weight: bold;
}

h3{
    color: green; 
}

#submit{
    margin: 0 40% 0 40%;
    padding: 5px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

button{
    cursor: pointer;
}

#notecontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/****************************************************************************

                           to add with javascript

**************************  *************************************************/

.divnote{
    background-color: yellowgreen;  /* ?? */
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 260px;
    border-radius: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
}

p.paragraph-div{
    height: 20px;
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}


.view-detail{
    margin: 0 35% 5px 35%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: lightblue
}

h4{
    margin-top: 5px;
}

.modal{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    bottom: 50%; 
    width: 800px; 

    opacity: 1;
}

.paragraph-modal{
    max-width: 800px;
    overflow-wrap: break-word;
    font-size: 15px;
}

.close{
    margin: 0 40% 0px 40%;
    border-radius: 5px;
    background-color: lightblue
}